
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background {
  background-image: url(/Integrated-platform-for-project-management-main/hackathon/images/homePage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.edit-profile-container {
  width: 70%; 
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
}


h2 {
  color:#2c3e50;
}

form {
  display: grid;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}
#logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  margin-bottom: 5px;
  color: #34495e;
  font-size: 17px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}
textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  resize: none;
}

input,textarea:hover{
  outline: none;
  border: 1px solid #2980b9;;
}

button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #2980b9;
}

